* {
	font-family: arial;
	color: #0b0b0b;
	font-size: 34px;
}

#conversation>div {
	border-radius: 15px;
	padding: 20px;
	margin: 10px;
}

#conversation>.me {
	background-color: #a3d5ff;
	margin-right: 150px;
}

#conversation>.you {
	background-color: #fff7a3;
	margin-left: 150px;
}

#reset {
	position: fixed;
	width: 100px;
	height: 100px;
	bottom: 0;
	left: 0;
	cursor: pointer;
}